/* Import the base theme with overrides */
:root {
  --jf-palette-background-defaultImage: none;
  --jf-palette-AppBar-transparentBg: rgba(232, 232, 232, 0.86);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3b3b3b #202020;
}

html,
body,
#root {
  color: #fff;
}

.skinHeader,
html {
  color: var(--jf-palette-text-secondary, rgba(0, 0, 0, 0.87));
}

.wizardStartForm,
.ui-corner-all,
.ui-shadow {
  background-color: var(--jf-palette-background-default, #f2f2f2);
  background-image: var(--jf-palette-background-defaultImage, none);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.emby-collapsible-button {
  border-color: var(--jf-palette-divider, rgba(0, 0, 0, 0.14));
}

.skinHeader-withBackground {
  background-color: var(--jf-palette-AppBar-defaultBg, #e8e8e8);
}

.skinHeader.semiTransparent {
  background-color: var(--jf-palette-AppBar-transparentBg, rgba(232, 232, 232, 0.86));
  backdrop-filter: none !important;
}
.layout-tv .skinHeader.semiTransparent {
  background: none;
}

.pageTitleWithDefaultLogo {
  background-image: url(../../assets/branding/search-brand-tile.png);
}
.layout-tv .pageTitleWithDefaultLogo {
  background-image: url(../../assets/branding/icon.png);
}

.backgroundContainer,
.dialog,
.nowPlayingPlaylist,
.nowPlayingContextMenu,
html {
  background-color: var(--jf-palette-background-default, #f2f2f2);
  background-image: var(--jf-palette-background-defaultImage, none);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundContainer.withBackdrop {
  opacity: 0.86;
}

@media (hover: hover) and (pointer: fine) {
  .paper-icon-button-light:hover:not(:disabled) {
    color: var(--jf-palette-primary-main, #00a4dc);
    background-color: rgba(0, 164, 220, 0.2);
    background-color: rgba(var(--jf-palette-primary-mainChannel)/var(--jf-palette-action-selectedOpacity));
  }
}
.paper-icon-button-light:active:not(:disabled) {
  color: var(--jf-palette-primary-main, #00a4dc);
  background-color: rgba(0, 164, 220, 0.2);
  background-color: rgba(var(--jf-palette-primary-mainChannel)/var(--jf-palette-action-selectedOpacity));
}

.paper-icon-button-light.show-focus:focus {
  color: var(--jf-palette-primary-main, #00a4dc);
}

a[data-role=button],
.fab,
.raised {
  background: var(--jf-palette-Button-inheritContainedBg, #d8d8d8);
  color: var(--jf-palette-text-secondary, rgba(0, 0, 0, 0.87));
}
a[data-role=button]:focus, a[data-role=button]:hover,
.fab:focus,
.fab:hover,
.raised:focus,
.raised:hover {
  background: var(--jf-palette-Button-inheritContainedHoverBg, #ccc);
}

.button-submit {
  background: var(--jf-palette-primary-main, #00a4dc);
  color: var(--jf-palette-primary-contrastText, rgba(0, 0, 0, 0.87));
}
.button-submit:focus, .button-submit:hover {
  background: var(--jf-palette-primary-dark, #00729a);
}

.button-delete {
  background: var(--jf-palette-error-main, #c62828);
  color: var(--jf-palette-error-contrastText, #fff);
}

.checkboxLabel {
  color: inherit;
}

.checkboxListLabel,
.inputLabel,
.inputLabelUnfocused,
.paperListLabel,
.textareaLabelUnfocused {
  color: var(--jf-palette-text-secondary, rgba(0, 0, 0, 0.87));
}

.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
  color: var(--jf-palette-primary-main, #00a4dc);
}

.checkboxOutline {
  border-color: currentColor;
}

.collapseContent,
.formDialogFooter:not(.formDialogFooter-clear),
.formDialogHeader:not(.formDialogHeader-clear),
.paperList,
.visualCardBox {
  background-color: var(--jf-palette-background-paper, #e8e8e8);
}

.layout-tv .formDialogFooter:not(.formDialogFooter-clear) {
  background-color: transparent;
}

.cardText-secondary,
.fieldDescription,
.guide-programNameCaret,
.listItem .secondary,
.nowPlayingBarSecondaryText,
.programSecondaryTitle,
.secondaryText {
  color: var(--jf-palette-text-secondary, rgba(0, 0, 0, 0.87));
}

.actionsheetDivider {
  background: var(--jf-palette-divider, rgba(0, 0, 0, 0.14));
}

.cardFooter-vibrant .cardText-secondary {
  color: inherit;
  opacity: 0.5;
}

.toast {
  background: var(--jf-palette-SnackbarContent-bg, #303030);
  color: var(--jf-palette-SnackbarContent-color, rgba(255, 255, 255, 0.87));
}

.appfooter,
.playlistSectionButton {
  background: var(--jf-palette-background-paper, #e8e8e8);
  color: var(--jf-palette-text-secondary, rgba(0, 0, 0, 0.87));
}

.itemSelectionPanel {
  border-color: var(--jf-palette-primary-main, #00a4dc);
  border-width: 1px;
  border-style: solid;
}

.selectionCommandsPanel {
  background: var(--jf-palette-primary-main, #00a4dc);
  color: var(--jf-palette-primary-contrastText, rgba(0, 0, 0, 0.87)) !important;
}
.selectionCommandsPanel .paper-icon-button-light:not(:disabled) {
  color: var(--jf-palette-primary-contrastText, rgba(0, 0, 0, 0.87));
}
.selectionCommandsPanel .paper-icon-button-light:not(:disabled):hover, .selectionCommandsPanel .paper-icon-button-light:not(:disabled):focus {
  background-color: var(--jf-palette-primary-dark, #00729a);
}

.upNextDialog-countdownText {
  color: var(--jf-palette-primary-main, #00a4dc);
}

.alphaPickerButton {
  color: var(--jf-palette-text-secondary, rgba(0, 0, 0, 0.87));
  background-color: transparent;
}
.alphaPickerButton-selected {
  color: var(--jf-palette-text-primary, #000);
}
.alphaPickerButton-tv:focus {
  background-color: var(--jf-palette-primary-main, #00a4dc);
  color: var(--jf-palette-primary-contrastText, rgba(0, 0, 0, 0.87));
}

.noBackdropTransparency .detailPageWrapperContainer {
  background-color: var(--jf-palette-background-default, #f2f2f2);
  background-image: var(--jf-palette-background-defaultImage, none);
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.listItem-border {
  border-color: var(--jf-palette-divider, rgba(0, 0, 0, 0.14));
}

.listItem:focus {
  background-color: var(--jf-palette-action-focus, #bbb);
}

.listItem:hover {
  background-color: var(--jf-palette-action-hover, #ddd);
}

.progressring-spiner {
  border-color: var(--jf-palette-primary-main, #00a4dc);
}

.button-flat:hover {
  color: var(--jf-palette-primary-main, #00a4dc);
}

.button-link {
  color: var(--jf-palette-primary-main, #00a4dc);
}

.mediaInfoText {
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
}

.emby-input,
.emby-textarea {
  background: var(--jf-palette-FilledInput-bg, rgba(255, 255, 255, 0.09));
  border-color: var(--jf-palette-FilledInput-bg, rgba(255, 255, 255, 0.09));
  color: inherit;
  border-width: 0.16em;
  border-style: solid;
  border-radius: 0.2em;
}
.emby-input:focus,
.emby-textarea:focus {
  border-color: var(--jf-palette-primary-main, #00a4dc);
}

.emby-select-withcolor {
  background: var(--jf-palette-background-paper, #e8e8e8);
  border-color: var(--jf-palette-FilledInput-bg, rgba(255, 255, 255, 0.09));
  color: inherit;
  border-width: 0.16em;
  border-style: solid;
  border-radius: 0.2em;
}

.emby-select-withcolor > option {
  background: var(--jf-palette-background-paper, #e8e8e8);
  color: inherit;
}

.emby-select-withcolor:focus {
  border-color: var(--jf-palette-primary-main, #00a4dc) !important;
}

.emby-select-tv-withcolor:focus {
  background-color: var(--jf-palette-primary-main, #00a4dc) !important;
  color: var(--jf-palette-primary-contrastText, rgba(0, 0, 0, 0.87)) !important;
}

.emby-checkbox:checked + span + .checkboxOutline {
  border-color: var(--jf-palette-primary-main, #00a4dc);
}

.emby-checkbox:focus + span + .checkboxOutline {
  border-color: var(--jf-palette-common-white, #fff);
}

.emby-checkbox:checked + span + .checkboxOutline,
.itemProgressBarForeground {
  background-color: var(--jf-palette-primary-main, #00a4dc);
}

.emby-checkbox:focus:not(:checked) + span + .checkboxOutline {
  border-color: var(--jf-palette-primary-main, #00a4dc);
}

.itemProgressBarForeground-recording {
  background-color: var(--jf-palette-error-light, #d15353);
}

.countIndicator,
.fullSyncIndicator,
.mediaSourceIndicator,
.playedIndicator {
  background: var(--jf-palette-primary-main, #00a4dc);
  color: var(--jf-palette-primary-contrastText, rgba(0, 0, 0, 0.87));
}

.mainDrawer,
.drawer-open {
  background-color: var(--jf-palette-background-default, #f2f2f2);
}

.navMenuOption:hover {
  background: var(--jf-palette-action-hover, #ddd);
}

.navMenuOption-selected {
  background: var(--jf-palette-primary-main, #00a4dc) !important;
  color: var(--jf-palette-primary-contrastText, rgba(0, 0, 0, 0.87));
}

.emby-button.show-focus:focus {
  background: var(--jf-palette-primary-main, #00a4dc);
  color: var(--jf-palette-primary-contrastText, rgba(0, 0, 0, 0.87));
}

.emby-tab-button {
  color: var(--jf-palette-text-secondary, rgba(0, 0, 0, 0.87));
}

.emby-tab-button-active {
  color: var(--jf-palette-text-primary, #000);
}

.emby-tab-button.show-focus:focus,
.emby-tab-button:hover {
  color: var(--jf-palette-primary-main, #00a4dc);
}

.channelPrograms,
.guide-channelHeaderCell,
.programCell {
  border-color: rgba(255, 255, 255, 0.05);
}

.programCell-sports {
  background: #3949ab !important;
}

.programCell-movie {
  background: #5e35b1 !important;
}

.programCell-kids {
  background: #039be5 !important;
}

.programCell-news {
  background: #43a047 !important;
}

.programCell-active {
  background: #1e1e1e !important;
}

.guide-channelHeaderCell:focus,
.programCell:focus {
  background-color: var(--jf-palette-primary-main, #00a4dc) !important;
  color: var(--jf-palette-primary-contrastText, rgba(0, 0, 0, 0.87)) !important;
}

.guide-programTextIcon {
  color: #1e1e1e;
  background: #555;
}

.guide-headerTimeslots {
  color: inherit;
}

.guide-date-tab-button.emby-tab-button-active,
.guide-date-tab-button:focus {
  color: var(--jf-palette-primary-main, #00a4dc);
}

.guide-date-tab-button.show-focus:focus {
  background-color: var(--jf-palette-primary-main, #00a4dc);
  color: var(--jf-palette-primary-contrastText, rgba(0, 0, 0, 0.87));
}

.infoBanner {
  background: var(--jf-palette-Alert-infoFilledBg, #fff3a5);
  color: var(--jf-palette-Alert-infoFilledColor, #000);
  padding: 1em;
  border-radius: 0.25em;
}

.ratingbutton-icon-withrating,
.playstatebutton-icon-played {
  color: var(--jf-palette-error-light, #d15353);
}

.buttonActive {
  color: var(--jf-palette-primary-main, #00a4dc) !important;
}

.card:focus .cardBox.visualCardBox,
.card:focus .cardBox:not(.visualCardBox) .cardScalable {
  border-color: var(--jf-palette-primary-main, #00a4dc) !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track-piece {
  background-color: #3b3b3b;
}

.layout-desktop ::-webkit-scrollbar,
.layout-tv ::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
  border-radius: 2px;
  background: center no-repeat #888;
}

.timeslotHeaders-desktop::-webkit-scrollbar {
  height: 0.7em;
}

.metadataSidebarIcon {
  color: var(--jf-palette-primary-main, #00a4dc);
}

#comicsPlayer,
#bookPlayer,
#pdfPlayer {
  background-color: var(--jf-palette-background-default, #f2f2f2);
}

#comicsPlayer .swiper-pagination {
  background-color: var(--jf-palette-background-default, #f2f2f2);
  color: var(--jf-palette-text-primary, #000);
}

#bookPlayer .topButtons,
#comicsPlayer .actionButtonIcon,
#pdfPlayer .actionButtonIcon {
  color: var(--jf-palette-text-primary, #000);
}

#dialogToc {
  background-color: var(--jf-palette-background-default, #f2f2f2);
}

#dialogToc .toc li a,
#dialogToc .bookplayerButtonIcon {
  color: var(--jf-palette-text-secondary, rgba(0, 0, 0, 0.87));
}
#dialogToc .toc li a:active, #dialogToc .toc li a:hover,
#dialogToc .bookplayerButtonIcon:active,
#dialogToc .bookplayerButtonIcon:hover {
  color: var(--jf-palette-primary-main, #00a4dc);
}

.alphaPickerButton-selected {
  background-color: var(--jf-palette-primary-main, #00a4dc);
  color: var(--jf-palette-primary-contrastText, rgba(0, 0, 0, 0.87));
}

/* Card background color variants */
.defaultCardBackground1 {
  background-color: #009688;
}

.defaultCardBackground2 {
  background-color: #d32f2f;
}

.defaultCardBackground3 {
  background-color: #0288d1;
}

.defaultCardBackground4 {
  background-color: #388e3c;
}

.defaultCardBackground5 {
  background-color: #f57f17;
}

/* Detail ribbon on item details pages */
.detailRibbon {
  background-color: #303030;
  color: #ccc;
  color: rgba(255, 255, 255, 0.87);
}
.layout-tv .detailRibbon {
  background: none;
  color: inherit;
}

/* Live TV guide */
.channelPrograms,
.guide-channelHeaderCell,
.programCell {
  border-color: rgba(0, 0, 0, 0.12);
}

.programCell-active {
  background: rgba(0, 0, 0, 0.1) !important;
}